<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Document</title>
		<link
			rel="stylesheet"
			href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"
		/>
		<link
			rel="stylesheet"
			href="https://cdn.datatables.net/1.10.25/css/jquery.dataTables.min.css"
		/>
		<link rel="stylesheet" href="/assets/admin/css/AdminStyle.css" />
	</head>
	<body></body>
</html>
<div class="header">
	<div class="menu">
		<%if(role=="vendor"){%>
		<a href="/admin/product">products</a>
		<a href="/admin/product/add">add product</a>
		<a href="/admin/logout">logout</a>
		<%}else{%>
		<a href="/admin/users">users</a><br />
		<a href="/admin/category">category</a><br />
		<a href="/admin/category/add">add category</a>
		<a href="/admin/product">products</a>
		<a href="/admin/product/add">add product</a>
		<a href="/admin/cupon/add">add cupon</a>
		<a href="/admin/cupon">cupon</a>
		<a href="/admin/orders">orders</a>
		<a href="/admin/manage-vendor">manage vendor</a>
		<a href="/admin/logout">logout</a>

		<%}%>
	</div>
</div>
